## INF161 Project Part 1 (19.09.2021)

#### Kriteriet er kopla til eit læringsmålData ready to use
(a) The final data is such that each row in the data corresponds to exactly 1 score that should be predicted.<br>
(b) The data does not leak any information (using player statistics of a given year to predict a score that happened in the same year).<br>
(c) The features in the final data are reasonable<br>

#### Kriteriet er kopla til eit læringsmålData description
(a) The different raw datasets as well as the combined datasets are described appropriately. <br>
(b) Some basic visualizations of the data that allows us to understand basic properties are available and explained.

#### Kriteriet er kopla til eit læringsmålReport
(a) The report is clear, well-written and understandable. <br>
(b) The code is readable and documented.<br>

#### 1)
du har gjort dette veldig bra! på a er du nesten der, du har klart å splitte kollonnene i 2, men hvær kollonne skal kun ha 1 score, det betyr at formatet skal vere: "lag x spilte mot lag y hjemme" og så på neste linje skal det stå "lag y spilte mot lag x vekke" slik som nello viste på forelesningen den 13.09 på 01:38 i videoen. eg ser at du har prøvd dette, men du mangler litt. vil også anbefale mot å sortere etter lag navn på games.xls siden den allerede er sortert etter dato som er det viktigste.

#### 2) 
er ikkje sikker på hva som ønskes fra a, men på b så kunne du gjort mye meir. eg går ut fra at awayscoremean og homescoremean er noe som kunne blitt gode statestikker. eg vil anbefale deg å lese litt om pandas.plot, det er en lett måte å visualisere en dataframe :D

#### 3) 
koden har mange kommentarer som forklarer hva som blir gjort, men eg skulle gjerne ønske å vite hvorfor du gjør hva du gjorde. det er plasser, som når du sorterer games etter lag hvor eg gjerne kunne tenkt få forklarrt hva som var tanken bak koden. det er mulig å lage en tekst boks slik som du har gjort på toppen av siden ved å trykke "m" på en markert boks. dette er veldig greit å ha mellom bokser for å forklare hva du gjorde og hva du skal gjøre i den neste kode boksen.

#### kommentarer) 
bra jobbet! det er veldig mye bra her, men det er noe som mangler. fiks hva eg har spurt om i vurderingen, så kommer prosjektet til å gå bra!

In [21]:
#Importing libraries
import pandas as pd
import lxml

In [50]:
## 2017
# Importing data from 2017
games2017 = pd.read_html('prosjekt\\2017/games.xls', encoding='utf-8')
rank_table2017 = pd.read_html('prosjekt\\2017/table.xls', encoding='utf-8')
team_stats2017 = pd.read_html('prosjekt\\2017/team-stats.xls', encoding='utf-8')
player_stats2017 = pd.read_html('prosjekt\\2017/player-stats.xls', encoding='utf-8')

# Read_html returns a list, converting to dataframe and sorting by selected values
games2017 = games2017[0]
games2017 = games2017[games2017['Wk'].notnull()]
rank_table2017 = rank_table2017[0]
team_stats2017 = team_stats2017[0]
player_stats2017 = player_stats2017[0]

In [51]:
## 2018
#Importing data from 2018
games2018 = pd.read_html('prosjekt\\2018/games.xls', encoding='utf-8')
rank_table2018 = pd.read_html('prosjekt\\2018/table.xls', encoding='utf-8')
team_stats2018 = pd.read_html('prosjekt\\2018/team-stats.xls', encoding='utf-8')
player_stats2018 = pd.read_html('prosjekt\\2018/player-stats.xls', encoding='utf-8')

# Read_html returns a list, converting to dataframe and sorting by certain values
games2018 = games2018[0]
games2018 = games2018[games2018['Wk'].notnull()]
rank_table2018 = rank_table2018[0]
team_stats2018 = team_stats2018[0]
player_stats2018 = player_stats2018[0]

In [52]:
## 2019
#Importing data from 2019
games2019 = pd.read_html('prosjekt\\2019/games.xls', encoding='utf-8')
rank_table2019 = pd.read_html('prosjekt\\2019/table.xls', encoding='utf-8')
team_stats2019 = pd.read_html('prosjekt\\2019/team-stats.xls', encoding='utf-8')
player_stats2019 = pd.read_html('prosjekt\\2019/player-stats.xls', encoding='utf-8')

# read_html returns a list, one df for every table in the document
games2019 = games2019[0]
games2019 = games2019[games2019['Wk'].notnull()]
rank_table2019 = rank_table2019[0]
team_stats2019 = team_stats2019[0]
player_stats2019 = player_stats2019[0]

In [53]:
## 2017
# Splitting the 'Score' column into HomeScore and AwayScore
home, away = games2017['Score'].str.split("–").str

# Preparing to select columns from team-stats file that we are interested in
perf_fields = ['Gls', 'PK', 'PKatt', 'CrdY', 'CrdR']
per_90_fields = ['Gls', 'G-PK']

# Concatenating columns
team_stats2017 = pd.concat([
    team_stats2017['Unnamed: 0_level_0'][['Squad']],
    team_stats2017['Unnamed: 2_level_0'][['Age']].astype(float), 
    team_stats2017['Performance'][perf_fields].astype(int), 
    team_stats2017['Per 90 Minutes'][per_90_fields].add_prefix('90-').astype(float)
], axis=1).sort_values(by=['Squad'], ascending=True)

# Adding columns 'Rk' and 'GF'
team_stats2017['Rk'] = rank_table2017['Rk']
team_stats2017['GF'] = rank_table2017['GF']

team_stats2017.head(3)

<ipython-input-53-a09587036a1a>:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  home, away = games2017['Score'].str.split("–").str

          Squad   Age  Gls  PK  PKatt  CrdY  CrdR  90-Gls  90-G-PK  Rk  GF
0  Arna-Bjørnar  22.0   37   1      1    20     1    1.68     1.64   1  68
1     Avaldsnes  25.5   49   1      1    22     1    2.23     2.18   2  51
2    Grand Bodø  22.7   30   1      1    19     0    1.36     1.32   3  46

In [54]:
## 2017
# Converting columns into type int
games2017['HomeScore'] = home.astype(int)
games2017['AwayScore'] = away.astype(int)

# Grouping by 'Home' to then calculate mean of 'HomeScore' and 'AwayScore'
games_by_home_team2017 = games2017.groupby("Home")
home_team_averages2017 = games_by_home_team2017.mean().reset_index()
home_team_averages2017 = home_team_averages2017[['Home','HomeScore', 'AwayScore']]

# Renaming columns
home_team_averages2017 = home_team_averages2017.rename(columns={'Home': 'Squad'})
home_team_averages2017 = home_team_averages2017.rename(columns={'HomeScore': 'HomeScoreMean'})
home_team_averages2017 = home_team_averages2017.rename(columns={'AwayScore': 'AwayScoreMean'})

home_team_averages2017.head(3)

          Squad  HomeScoreMean  AwayScoreMean
0  Arna-Bjørnar       2.272727       1.181818
1     Avaldsnes       2.636364       0.545455
2    Grand Bodø       1.454545       3.090909

In [55]:
## 2017
# Quick look at the games2017 dataframe
games2017.head(3)

,Wk,Day,Date,Time,Home,Score,Away,Attendance,Venue,Referee,Match Report,Notes,HomeScore,AwayScore
0,1.0,Mon,2017-04-17,13:00,Medkila,1–1,Sandviken,307.0,Harstad Stadion,Sarah Fatemeh Zangeneh,Match Report,NaN,1,1
1,1.0,Mon,2017-04-17,14:00,Avaldsnes,2–1,Vålerenga,346.0,Avaldsnes Idrettssenter,Marit Folstad,Match Report,NaN,2,1
2,1.0,Mon,2017-04-17,15:00,Grand Bodø,2–2,Arna-Bjørnar,290.0,Nordlandshallen,Henrikke Holm Nervik,Match Report,NaN,2,2

In [56]:
## 2017
# Selecting only necessary columns
games2017 = games2017[["Home", "Away", "HomeScore", "AwayScore"]]
games2017.head(3)

         Home          Away  HomeScore  AwayScore
0     Medkila     Sandviken          1          1
1   Avaldsnes     Vålerenga          2          1
2  Grand Bodø  Arna-Bjørnar          2          2

In [57]:
## 2017
# Merging games2017 with home_team_averages2017 into a new dataframe called games2017_home
games2017_home = pd.merge(games2017, home_team_averages2017, how='left', left_on='Home', right_on='Squad')
games2017_home = games2017_home.drop(columns=['Squad'])

# Merging again with team_stats2017
games2017_home = pd.merge(games2017_home, team_stats2017, how='left', left_on='Home', right_on='Squad')

#Adding an extra column 'IsHome' that will be used later
games2017_home['IsHome'] = pd.Series([1 for x in range(len(games2017.index))])

games2017_home.head(3)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Squad,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome
0,Medkila,Sandviken,1,1,0.454545,2.727273,Medkila,20.9,9,0,0,13,2,0.41,0.41,7,38,1
1,Avaldsnes,Vålerenga,2,1,2.636364,0.545455,Avaldsnes,25.5,49,1,1,22,1,2.23,2.18,2,51,1
2,Grand Bodø,Arna-Bjørnar,2,2,1.454545,3.090909,Grand Bodø,22.7,30,1,1,19,0,1.36,1.32,3,46,1

In [58]:
## 2017
# Merging games2017 with home_team_averages2017 into a new dataframe called games2017_away
games2017_away = pd.merge(games2017, home_team_averages2017, how='left', left_on='Away', right_on='Squad')
games2017_away = games2017_away.drop(columns=['Squad'])

# Merging again with team_stats2017
games2017_away = pd.merge(games2017_away, team_stats2017, how='left', left_on='Away', right_on='Squad')

#Adding an extra column 'IsHome' that will be used later
games2017_away['IsHome'] = pd.Series([0 for x in range(len(games2017.index))])

games2017_away

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Squad,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome
0,Medkila,Sandviken,1,1,1.454545,1.363636,Sandviken,24.4,23,0,0,10,0,1.05,1.05,9,23,0
1,Avaldsnes,Vålerenga,2,1,1.454545,1.272727,Vålerenga,25.8,38,0,0,16,2,1.73,1.73,12,9,0
2,Grand Bodø,Arna-Bjørnar,2,2,2.272727,1.181818,Arna-Bjørnar,22.0,37,1,1,20,1,1.68,1.64,1,68,0
3,Røa,Stabæk,1,2,2.363636,1.000000,Stabæk,25.5,44,0,0,4,0,2.00,2.00,10,17,0
4,LSK Kvinner,Klepp,6,1,1.545455,0.727273,Klepp,23.5,33,2,2,13,2,1.50,1.41,4,34,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,Stabæk,Trondheims-Ørn,5,2,1.818182,1.363636,Trondheims-Ørn,22.1,36,0,0,9,0,1.64,1.64,11,30,0
128,Avaldsnes,Medkila,5,0,0.454545,2.727273,Medkila,20.9,9,0,0,13,2,0.41,0.41,7,38,0
129,Kolbotn,Grand Bodø,2,0,1.454545,3.090909,Grand Bodø,22.7,30,1,1,19,0,1.36,1.32,3,46,0
130,Sandviken,Røa,0,2,2.636364,1.545455,Røa,22.8,42,0,0,22,1,1.91,1.91,8,36,0
131,Vålerenga,LSK Kvinner,2,5,3.363636,0.636364,LSK Kvinner,24.2,67,2,2,11,0,3.05,2.95,6,39,0

In [59]:
## 2017
# Concatenating the two dataframes
games2017 = pd.concat([games2017_home, games2017_away]).sort_index()
games2017 = games2017.drop('Squad', axis=1).reset_index().drop(['index'], axis=1)

# Adding another column with year of dataset
games2017['Year'] = pd.Series([2017 for x in range(len(games2017.index))])

In [60]:
## 2017

# Final dataframe for 2017
    # 'Home'          = Home squad
    # 'Away'          = Away squad
    # 'HomeScore'     = Number of goals scored by home squad during a game
    # 'AwayScore'     = Number of gaols scored by away squad during a game
    # 'HomeScoreMean' = Mean number of goals scored by squad when playing home
    # 'AwayScoreMean' = Mean number of goals scored by squad when playing away
    # 'Age'           = Average age of squad at season start
    # 'Gls'           = Number of goals scored (or recieved) by squad
    # 'Pk'            = Number of penalty kicks scored
    # 'PKatt'         = Number of penalty kicks attempted
    # 'CrdY'          = Number of yellow cards
    # 'CrdR'          = Number of yellow cards
    # '90-Gls'        = Number of goals scored per 90 minutes
    # '90-G-PK'       = Number of goals minus penalty kicks scored per 90 minutes
    # 'Rk'            = Rank placement of a squad in competition
    # 'GF'            = Total number of goals scored by a squad during the given season
    # 'IsHome'        = Indicates if data in row corresponds to home squad or away squad
    # 'Year'          = Year of the season
games2017.head(10)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome,Year
0,Medkila,Sandviken,1,1,0.454545,2.727273,20.9,9,0,0,13,2,0.41,0.41,7,38,1,2017
1,Medkila,Sandviken,1,1,1.454545,1.363636,24.4,23,0,0,10,0,1.05,1.05,9,23,0,2017
2,Avaldsnes,Vålerenga,2,1,2.636364,0.545455,25.5,49,1,1,22,1,2.23,2.18,2,51,1,2017
3,Avaldsnes,Vålerenga,2,1,1.454545,1.272727,25.8,38,0,0,16,2,1.73,1.73,12,9,0,2017
4,Grand Bodø,Arna-Bjørnar,2,2,1.454545,3.090909,22.7,30,1,1,19,0,1.36,1.32,3,46,1,2017
5,Grand Bodø,Arna-Bjørnar,2,2,2.272727,1.181818,22.0,37,1,1,20,1,1.68,1.64,1,68,0,2017
6,Røa,Stabæk,1,2,2.636364,1.545455,22.8,42,0,0,22,1,1.91,1.91,8,36,1,2017
7,Røa,Stabæk,1,2,2.363636,1.000000,25.5,44,0,0,4,0,2.00,2.00,10,17,0,2017
8,LSK Kvinner,Klepp,6,1,3.363636,0.636364,24.2,67,2,2,11,0,3.05,2.95,6,39,1,2017
9,LSK Kvinner,Klepp,6,1,1.545455,0.727273,23.5,33,2,2,13,2,1.50,1.41,4,34,0,2017

In [61]:
## 2018
# Splitting the 'Score' column into HomeScore and AwayScore
home, away = games2018['Score'].str.split("–").str

# Concatenating columns
team_stats2018 = pd.concat([
    team_stats2018['Unnamed: 0_level_0'][['Squad']],
    team_stats2018['Unnamed: 2_level_0'][['Age']].astype(float), 
    team_stats2018['Performance'][perf_fields].astype(int), 
    team_stats2018['Per 90 Minutes'][per_90_fields].add_prefix('90-').astype(float)
], axis=1).sort_values(by=['Squad'], ascending=True)

# Adding columns 'Rk' and 'GF'
team_stats2018['Rk'] = rank_table2018['Rk']
team_stats2018['GF'] = rank_table2018['GF']

team_stats2018.head(3)

<ipython-input-61-26a76fafec3a>:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  home, away = games2018['Score'].str.split("–").str

          Squad   Age  Gls  PK  PKatt  CrdY  CrdR  90-Gls  90-G-PK  Rk  GF
0  Arna-Bjørnar  21.9   52   1      1    11     1    2.36     2.32   1  71
1     Avaldsnes  24.0   24   3      3    22     1    1.09     0.95   2  39
2    Grand Bodø  23.4   19   1      1    16     0    0.86     0.82   3  53

In [62]:
## 2018
# Converting columns into type int
games2018['HomeScore'] = home.astype(int)
games2018['AwayScore'] = away.astype(int)

# Grouping by 'Home' to then calculate mean of 'HomeScore' and 'AwayScore'
games_by_home_team2018 = games2018.groupby("Home")
home_team_averages2018 = games_by_home_team2018.mean().reset_index()
home_team_averages2018 = home_team_averages2018[['Home','HomeScore', 'AwayScore']]

# Renaming columns
home_team_averages2018 = home_team_averages2018.rename(columns={'Home': 'Squad'})
home_team_averages2018 = home_team_averages2018.rename(columns={'HomeScore': 'HomeScoreMean'})
home_team_averages2018 = home_team_averages2018.rename(columns={'AwayScore': 'AwayScoreMean'})

home_team_averages2018.head(3)

          Squad  HomeScoreMean  AwayScoreMean
0  Arna-Bjørnar       2.727273       1.000000
1     Avaldsnes       1.363636       1.272727
2    Grand Bodø       0.909091       2.454545

In [63]:
## 2018
# Selecting only necessary columns
games2018 = games2018[["Home", "Away", "HomeScore", "AwayScore"]]
games2018.head(3)

         Home            Away  HomeScore  AwayScore
0   Sandviken         Kolbotn          0          1
1       Klepp    Arna-Bjørnar          1          2
2  Grand Bodø  Trondheims-Ørn          2          1

In [64]:
## 2018
# Merging games2018 with home_team_averages2018 into a new dataframe called games2018_home
games2018_home = pd.merge(games2018, home_team_averages2018, how='left', left_on='Home', right_on='Squad')
games2018_home = games2018_home.drop(columns=['Squad'])

# Merging again with team_stats2018
games2018_home = pd.merge(games2018_home, team_stats2018, how='left', left_on='Home', right_on='Squad')

#Adding an extra column 'IsHome' that will be used later
games2018_home['IsHome'] = pd.Series([1 for x in range(len(games2018.index))])

games2018_home.head(3)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Squad,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome
0,Sandviken,Kolbotn,0,1,2.272727,0.909091,Sandviken,26.4,40,0,0,15,1,1.82,1.82,9,24,1
1,Klepp,Arna-Bjørnar,1,2,2.090909,0.909091,Klepp,25.1,39,2,2,12,0,1.77,1.68,4,42,1
2,Grand Bodø,Trondheims-Ørn,2,1,0.909091,2.454545,Grand Bodø,23.4,19,1,1,16,0,0.86,0.82,3,53,1

In [65]:
## 2018
# Merging games2018 with home_team_averages2018 into a new dataframe called games2018_away
games2018_away = pd.merge(games2018, home_team_averages2018, how='left', left_on='Away', right_on='Squad')
games2018_away = games2018_away.drop(columns=['Squad'])

# Merging again with team_stats2018
games2018_away = pd.merge(games2018_away, team_stats2018, how='left', left_on='Away', right_on='Squad')

#Adding an extra column 'IsHome' that will be used later
games2018_away['IsHome'] = pd.Series([0 for x in range(len(games2018.index))])

games2018_away.head(3)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Squad,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome
0,Sandviken,Kolbotn,0,1,1.636364,1.818182,Kolbotn,21.2,34,2,2,11,0,1.55,1.45,5,34,0
1,Klepp,Arna-Bjørnar,1,2,2.727273,1.000000,Arna-Bjørnar,21.9,52,1,1,11,1,2.36,2.32,1,71,0
2,Grand Bodø,Trondheims-Ørn,2,1,1.272727,1.818182,Trondheims-Ørn,21.8,25,1,1,15,1,1.14,1.09,11,27,0

In [66]:
## 2018
# Concatenating the two dataframes
games2018 = pd.concat([games2018_home, games2018_away]).sort_index()
games2018 = games2018.drop('Squad', axis=1).reset_index().drop(['index'], axis=1)

# Adding another column with year of dataset
games2018['Year'] = pd.Series([2018 for x in range(len(games2018.index))])

In [67]:
## 2018

# Final dataframe for 2018
    # 'Home'          = Home squad
    # 'Away'          = Away squad
    # 'HomeScore'     = Number of goals scored by home squad during a game
    # 'AwayScore'     = Number of gaols scored by away squad during a game
    # 'HomeScoreMean' = Mean number of goals scored by squad when playing home
    # 'AwayScoreMean' = Mean number of goals scored by squad when playing away
    # 'Age'           = Average age of squad at season start
    # 'Gls'           = Number of goals scored (or recieved) by squad
    # 'Pk'            = Number of penalty kicks scored
    # 'PKatt'         = Number of penalty kicks attempted
    # 'CrdY'          = Number of yellow cards
    # 'CrdR'          = Number of yellow cards
    # '90-Gls'        = Number of goals scored per 90 minutes
    # '90-G-PK'       = Number of goals minus penalty kicks scored per 90 minutes
    # 'Rk'            = Rank placement of a squad in competition
    # 'GF'            = Total number of goals scored by a squad during the given season
    # 'IsHome'        = Indicates if data in row corresponds to home squad or away squad
    # 'Year'          = Year of the season
games2018.head(10)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome,Year
0,Sandviken,Kolbotn,0,1,2.272727,0.909091,26.4,40,0,0,15,1,1.82,1.82,9,24,1,2018
1,Sandviken,Kolbotn,0,1,1.636364,1.818182,21.2,34,2,2,11,0,1.55,1.45,5,34,0,2018
2,Klepp,Arna-Bjørnar,1,2,2.090909,0.909091,25.1,39,2,2,12,0,1.77,1.68,4,42,1,2018
3,Klepp,Arna-Bjørnar,1,2,2.727273,1.000000,21.9,52,1,1,11,1,2.36,2.32,1,71,0,2018
4,Grand Bodø,Trondheims-Ørn,2,1,0.909091,2.454545,23.4,19,1,1,16,0,0.86,0.82,3,53,1,2018
5,Grand Bodø,Trondheims-Ørn,2,1,1.272727,1.818182,21.8,25,1,1,15,1,1.14,1.09,11,27,0,2018
6,Røa,Lyn,1,2,1.909091,1.545455,22.7,40,2,2,28,0,1.82,1.73,8,29,1,2018
7,Røa,Lyn,1,2,1.727273,2.272727,19.8,26,2,2,19,0,1.18,1.09,7,42,0,2018
8,Vålerenga,LSK Kvinner,0,5,2.090909,1.454545,25.6,36,4,4,27,1,1.64,1.45,12,20,1,2018
9,Vålerenga,LSK Kvinner,0,5,3.363636,0.636364,24.1,68,4,4,6,0,3.09,2.91,6,37,0,2018

In [68]:
## 2019
# Splitting the 'Score' column into HomeScore and AwayScore
home, away = games2019['Score'].str.split("–").str

# Concatenating columns
team_stats2019 = pd.concat([
    team_stats2019['Unnamed: 0_level_0'][['Squad']],
    team_stats2019['Unnamed: 2_level_0'][['Age']].astype(float), 
    team_stats2019['Performance'][perf_fields].astype(int), 
    team_stats2019['Per 90 Minutes'][per_90_fields].add_prefix('90-').astype(float)
], axis=1).sort_values(by=['Squad'], ascending=True)

# Adding columns 'Rk' and 'GF'
team_stats2019['Rk'] = rank_table2019['Rk']
team_stats2019['GF'] = rank_table2019['GF']

team_stats2019.head(3)

<ipython-input-68-e3e0c0a6e047>:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  home, away = games2019['Score'].str.split("–").str

          Squad   Age  Gls  PK  PKatt  CrdY  CrdR  90-Gls  90-G-PK  Rk  GF
0  Arna-Bjørnar  22.4   26   0      0    14     1    1.18     1.18   1  51
1     Avaldsnes  24.4   40   4      4    21     2    1.82     1.64   2  41
2          Fart  21.9   14   1      1    15     0    0.64     0.59   3  48

In [69]:
## 2019
# Converting columns into type int
games2019['HomeScore'] = home.astype(int)
games2019['AwayScore'] = away.astype(int)

# Grouping by 'Home' to then calculate mean of 'HomeScore' and 'AwayScore'
games_by_home_team2019 = games2019.groupby("Home")
home_team_averages2019 = games_by_home_team2019.mean().reset_index()
home_team_averages2019 = home_team_averages2019[['Home','HomeScore', 'AwayScore']]

# Renaming columns
home_team_averages2019 = home_team_averages2019.rename(columns={'Home': 'Squad'})
home_team_averages2019 = home_team_averages2019.rename(columns={'HomeScore': 'HomeScoreMean'})
home_team_averages2019 = home_team_averages2019.rename(columns={'AwayScore': 'AwayScoreMean'})

home_team_averages2019.head(3)

          Squad  HomeScoreMean  AwayScoreMean
0  Arna-Bjørnar       1.090909       1.636364
1     Avaldsnes       2.000000       1.363636
2          Fart       0.727273       2.545455

In [70]:
## 2019
# Quick look at the games2017 dataframe
games2019.head(3)

,Round,Wk,Day,Date,Time,Home,Score,Away,Attendance,Venue,Referee,Match Report,Notes,HomeScore,AwayScore
0,Regular Season,1.0,Sat,2019-03-23,14:00,LSK Kvinner,4–3,Kolbotn,260.0,LSK-hallen,Henrikke Holm Nervik,Match Report,NaN,4,3
1,Regular Season,1.0,Sat,2019-03-23,14:00,Sandviken,0–2,Røa,442.0,Stemmemyren kunstgressbane,Malin Frantzen Øiseth,Match Report,NaN,0,2
2,Regular Season,1.0,Sat,2019-03-23,15:00,Klepp,1–0,Avaldsnes,340.0,Klepp Stadion,Ingvild Aarland,Match Report,NaN,1,0

In [71]:
## 2019
# Selecting only necessary columns
games2019 = games2019[["Home", "Away", "HomeScore", "AwayScore"]]
games2019.head(3)

          Home       Away  HomeScore  AwayScore
0  LSK Kvinner    Kolbotn          4          3
1    Sandviken        Røa          0          2
2        Klepp  Avaldsnes          1          0

In [72]:
## 2019
# Merging games2019 with home_team_averages2019 into a new dataframe called games2019_home
games2019_home = pd.merge(games2019, home_team_averages2019, how='left', left_on='Home', right_on='Squad')
games2019_home = games2019_home.drop(columns=['Squad'])

# Merging again with team_stats2019
games2019_home = pd.merge(games2019_home, team_stats2019, how='left', left_on='Home', right_on='Squad')

#Adding an extra column 'IsHome' that will be used later
games2019_home['IsHome'] = pd.Series([1 for x in range(len(games2019.index))])

games2019_home.head(3)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Squad,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome
0,LSK Kvinner,Kolbotn,4,3,2.454545,0.818182,LSK Kvinner,25.3,50,6,7,6,0,2.27,2.00,6,40,1
1,Sandviken,Røa,0,2,2.181818,1.545455,Sandviken,25.3,43,3,3,10,0,1.95,1.82,9,26,1
2,Klepp,Avaldsnes,1,0,2.636364,0.636364,Klepp,25.0,48,1,1,13,0,2.18,2.14,4,43,1

In [73]:
## 2019
# Merging games2019 with home_team_averages2019 into a new dataframe called games2019_away
games2019_away = pd.merge(games2019, home_team_averages2019, how='left', left_on='Away', right_on='Squad')
games2019_away = games2019_away.drop(columns=['Squad'])

# Merging again with team_stats2019
games2019_away = pd.merge(games2019_away, team_stats2019, how='left', left_on='Away', right_on='Squad')

#Adding an extra column 'IsHome' that will be used later
games2019_away['IsHome'] = pd.Series([0 for x in range(len(games2019.index))])

games2019_away.head(3)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Squad,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome
0,LSK Kvinner,Kolbotn,4,3,1.909091,1.545455,Kolbotn,21.8,35,3,3,10,1,1.59,1.45,5,40,0
1,Sandviken,Røa,0,2,2.272727,2.090909,Røa,22.9,39,4,4,27,1,1.77,1.59,8,35,0
2,Klepp,Avaldsnes,1,0,2.000000,1.363636,Avaldsnes,24.4,40,4,4,21,2,1.82,1.64,2,41,0

In [74]:
## 2019
# Concatenating the two dataframes
games2019 = pd.concat([games2019_home, games2019_away]).sort_index()
games2019 = games2019.drop('Squad', axis=1).reset_index().drop(['index'], axis=1)

# Adding another column with year of dataset
games2019['Year'] = pd.Series([2019 for x in range(len(games2019.index))])

In [75]:
## 2019
# Final dataframe for 2019
    # 'Home'          = Home squad
    # 'Away'          = Away squad
    # 'HomeScore'     = Number of goals scored by home squad during a game
    # 'AwayScore'     = Number of gaols scored by away squad during a game
    # 'HomeScoreMean' = Mean number of goals scored by squad when playing home
    # 'AwayScoreMean' = Mean number of goals scored by squad when playing away
    # 'Age'           = Average age of squad at season start
    # 'Gls'           = Number of goals scored (or recieved) by squad
    # 'Pk'            = Number of penalty kicks scored
    # 'PKatt'         = Number of penalty kicks attempted
    # 'CrdY'          = Number of yellow cards
    # 'CrdR'          = Number of yellow cards
    # '90-Gls'        = Number of goals scored per 90 minutes
    # '90-G-PK'       = Number of goals minus penalty kicks scored per 90 minutes
    # 'Rk'            = Rank placement of a squad in competition
    # 'GF'            = Total number of goals scored by a squad during the given season
    # 'IsHome'        = Indicates if data in row corresponds to home squad or away squad
    # 'Year'          = Year of the season
games2019.head(10)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome,Year
0,LSK Kvinner,Kolbotn,4,3,2.454545,0.818182,25.3,50,6,7,6,0,2.27,2.00,6,40,1,2019
1,LSK Kvinner,Kolbotn,4,3,1.909091,1.545455,21.8,35,3,3,10,1,1.59,1.45,5,40,0,2019
2,Sandviken,Røa,0,2,2.181818,1.545455,25.3,43,3,3,10,0,1.95,1.82,9,26,1,2019
3,Sandviken,Røa,0,2,2.272727,2.090909,22.9,39,4,4,27,1,1.77,1.59,8,35,0,2019
4,Klepp,Avaldsnes,1,0,2.636364,0.636364,25.0,48,1,1,13,0,2.18,2.14,4,43,1,2019
5,Klepp,Avaldsnes,1,0,2.000000,1.363636,24.4,40,4,4,21,2,1.82,1.64,2,41,0,2019
6,Lyn,Fart,0,0,1.181818,1.636364,20.1,23,1,1,20,0,1.05,1.00,7,26,1,2019
7,Lyn,Fart,0,0,0.727273,2.545455,21.9,14,1,1,15,0,0.64,0.59,3,48,0,2019
8,Trondheims-Ørn,Arna-Bjørnar,0,0,1.090909,0.909091,21.9,26,2,2,16,1,1.18,1.09,11,16,1,2019
9,Trondheims-Ørn,Arna-Bjørnar,0,0,1.090909,1.636364,22.4,26,0,0,14,1,1.18,1.18,1,51,0,2019

# Final dataframe

In [76]:
## FINAL
# Concatenating the two dataframes
gamesfinal = pd.concat([games2017, games2018, games2019]).reset_index().sort_index().drop(['index'], axis=1)
gamesfinal.head(10)

,Home,Away,HomeScore,AwayScore,HomeScoreMean,AwayScoreMean,Age,Gls,PK,PKatt,CrdY,CrdR,90-Gls,90-G-PK,Rk,GF,IsHome,Year
0,Medkila,Sandviken,1,1,0.454545,2.727273,20.9,9,0,0,13,2,0.41,0.41,7,38,1,2017
1,Medkila,Sandviken,1,1,1.454545,1.363636,24.4,23,0,0,10,0,1.05,1.05,9,23,0,2017
2,Avaldsnes,Vålerenga,2,1,2.636364,0.545455,25.5,49,1,1,22,1,2.23,2.18,2,51,1,2017
3,Avaldsnes,Vålerenga,2,1,1.454545,1.272727,25.8,38,0,0,16,2,1.73,1.73,12,9,0,2017
4,Grand Bodø,Arna-Bjørnar,2,2,1.454545,3.090909,22.7,30,1,1,19,0,1.36,1.32,3,46,1,2017
5,Grand Bodø,Arna-Bjørnar,2,2,2.272727,1.181818,22.0,37,1,1,20,1,1.68,1.64,1,68,0,2017
6,Røa,Stabæk,1,2,2.636364,1.545455,22.8,42,0,0,22,1,1.91,1.91,8,36,1,2017
7,Røa,Stabæk,1,2,2.363636,1.000000,25.5,44,0,0,4,0,2.00,2.00,10,17,0,2017
8,LSK Kvinner,Klepp,6,1,3.363636,0.636364,24.2,67,2,2,11,0,3.05,2.95,6,39,1,2017
9,LSK Kvinner,Klepp,6,1,1.545455,0.727273,23.5,33,2,2,13,2,1.50,1.41,4,34,0,2017