#### Kriteriet er kopla til eit læringsmålData ready to use
(a) The final data is such that each row in the data corresponds to exactly 1 score that should be predicted.<br>
(b) The data does not leak any information (using player statistics of a given year to predict a score that happened in the same year).<br>
(c) The features in the final data are reasonable<br>

#### Kriteriet er kopla til eit læringsmålData description
(a) The different raw datasets as well as the combined datasets are described appropriately. <br>
(b) Some basic visualizations of the data that allows us to understand basic properties are available and explained.

#### Kriteriet er kopla til eit læringsmålReport
(a) The report is clear, well-written and understandable. <br>
(b) The code is readable and documented.<br>

her har du gjort veldig mye jobb for å rense dataen, og få ut all relevant informasjon! det er veldig mange gode løsninger her og det er en god grunnmur til å jobbe fra, men du har ikkje gjort alt som oppgaveteksten har bedt om! oppgave teksten ligger hvor man leverte oppgaven. dette går bra så lenge du fikser det før siste innlevering av prosjektet :D

oppg 1a sier at hver linje skal forutse nøyaktig 1 score. det betyr at formatet skal vere: 
"lag x spilte mot lag y hjemme" og så på neste linje skal det stå "lag y spilte mot lag x vekke" slik som nello viste på forelesningen den 13.09 på 01:38 i videoen. om du gjør dette blir dataen i "games" super!

det mangler og grafer for visualisering, eg vil anbefale deg å lese om pandas.plot, den funker supert til å visualisere dataframes. man skal også beskrive datasettene man jobber med, det kunne du gjort litt bedre ved å legge till flere kommentarer

det er litt lite med forklaringer av hvorfor du gjør hva du gjør og hvordan du gjør det, man kan lage tekstbokser i jupyter ved å markere en boks og trykke på "m", du bør også legge til gode kommentarer slik at koden blir lett å lese for andre som skal lese gjennom den i fremtiden.

In [74]:
import numpy as np
import pandas as pd

#importerer filer og gjør om til dataframe

#2017
games_2017 = pd.read_html("2017/games.xls", encoding = "UTF-8")
df_games_2017 = games_2017[0]
#df_games_2017.dropna(how="all")
player_stats_2017 = pd.read_html("2017/player-stats.xls",encoding ="UTF-8", header=1)
df_player_stats_2017 = player_stats_2017[0]
table_2017 = pd.read_html("2017/table.xls", encoding = "UTF-8")
df_table_2017 = table_2017[0]
team_stats_2017 = pd.read_html("2017/team-stats.xls", encoding = "UTF-8", header=1)
df_team_stats_2017 = team_stats_2017[0]

#2018
games_2018 = pd.read_html("2018/games.xls", encoding = "UTF-8")
df_games_2018 = games_2018[0]
player_stats_2018 = pd.read_html("2018/player-stats.xls", encoding = "UTF-8", header=1)
df_player_stats_2018 = player_stats_2018[0]
table_2018 = pd.read_html("2018/table.xls", encoding = "UTF-8")
df_table_2018 = table_2018[0]
team_stats_2018 = pd.read_html("2018/team-stats.xls", encoding = "UTF-8", header=1)
df_team_stats_2018 = team_stats_2018[0]

#2019
games_2019 = pd.read_html("2019/games.xls", encoding = "UTF-8")
df_games_2019 = games_2019[0]
player_stats_2019 = pd.read_html("2019/player-stats.xls", encoding = "UTF-8", header=1)
df_player_stats_2019 = player_stats_2019[0]
table_2019 = pd.read_html("2019/table.xls", encoding = "UTF-8")
df_table_2019 = table_2019[0]
team_stats_2019 = pd.read_html("2019/team-stats.xls", encoding = "UTF-8", header=1)
df_team_stats_2019 = team_stats_2019[0]

#2020
games_2020 = pd.read_html("2020/games.xls", encoding = "UTF-8")
df_games_2020 = games_2020[0]
player_stats_2020 = pd.read_html("2020/player-stats.xls", encoding = "UTF-8", header=1)
df_player_stats_2020 = player_stats_2020[0]
test_2020 = pd.read_csv("2020/test.csv")

#Finner ut hvilke kolonner som kan droppes
games_drop = ["Day", "Date", "Time", "Referee", "Match Report", "Notes", "Venue"]
player_stats_drop = ["Nation","Born", "Matches","Ast","Ast.1","G+A","G+A-PK"]
table_drop = ["Notes", "Top Team Scorer", "Goalkeeper"] 
team_stats_drop = ["Poss","Ast","G+A","G+A-PK", "Ast.1"]

#Dropper kolonnene fra de forskjellige dataframene
df_games_2017.drop(games_drop,axis=1,inplace=True)
df_games_2018.drop(games_drop,axis=1,inplace=True)
df_games_2019.drop(games_drop,axis=1,inplace=True)
df_games_2020.drop(["Date"],axis=1,inplace=True)

df_player_stats_2017.drop(player_stats_drop,axis=1,inplace=True)
df_player_stats_2018.drop(player_stats_drop,axis=1,inplace=True)
df_player_stats_2019.drop(player_stats_drop,axis=1,inplace=True)
df_player_stats_2020.drop(["Nation", "Born"],axis=1) #TODO fiks øverste rad

df_table_2017.drop(table_drop,axis=1,inplace=True)
df_table_2018.drop(table_drop,axis=1,inplace=True)
df_table_2019.drop(table_drop,axis=1,inplace=True)

df_team_stats_2017.drop(team_stats_drop,axis=1,inplace=True)
df_team_stats_2018.drop(team_stats_drop,axis=1,inplace=True)
df_team_stats_2019.drop(team_stats_drop,axis=1,inplace=True)

#Eksempel:
display(df_team_stats_2019)
display(df_player_stats_2019)
display(df_table_2019)
display(df_games_2019)

,Squad,# Pl,Age,MP,Starts,Min,90s,Gls,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,G-PK.1
0,Arna-Bjørnar,27,22.4,22,242,1980,22.0,26,26,0,0,14,1,1.18,1.18
1,Avaldsnes,25,24.4,22,242,1980,22.0,40,36,4,4,21,2,1.82,1.64
2,Fart,29,21.9,22,242,1980,22.0,14,13,1,1,15,0,0.64,0.59
3,Klepp,21,25.0,22,242,1980,22.0,48,47,1,1,13,0,2.18,2.14
4,Kolbotn,20,21.8,22,242,1980,22.0,35,32,3,3,10,1,1.59,1.45
5,LSK Kvinner,21,25.3,22,242,1980,22.0,50,44,6,7,6,0,2.27,2.00
6,Lyn,21,20.1,22,242,1980,22.0,23,22,1,1,20,0,1.05,1.00
7,Røa,23,22.9,22,242,1980,22.0,39,35,4,4,27,1,1.77,1.59
8,Sandviken,20,25.3,22,242,1980,22.0,43,40,3,3,10,0,1.95,1.82
9,Stabæk,23,24.7,22,242,1980,22.0,16,15,1,1,12,0,0.73,0.68
10,Trondheims-Ørn,22,21.9,22,242,1980,22.0,26,24,2,2,16,1,1.18,1.09
11,Vålerenga,25,25.2,22,242,1980,22.0,41,40,1,1,19,1,1.86,1.82

,Rk,Player,Pos,Squad,Age,MP,Starts,Min,90s,Gls,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,G-PK.1
0,1,Kamilla Aabel,DF,Røa,22.0,21,19,1761,19.6,0,0,0,0,4,0,0.00,0.00
1,2,Anna Aahjem,MF,Lyn,19.0,2,0,14,0.2,0,0,0,0,0,0,0.00,0.00
2,3,Live Aandal,FW,Stabæk,22.0,5,4,315,3.5,0,0,0,0,0,0,0.00,0.00
3,4,Meryll Abrahamsen,DF,LSK Kvinner,21.0,13,6,556,6.2,3,3,0,0,0,0,0.49,0.49
4,5,Julie Adserø,MF,Trondheims-Ørn,27.0,14,5,591,6.6,4,3,1,1,0,0,0.61,0.46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,273,Emilie Woldvik,DF,LSK Kvinner,20.0,19,17,1497,16.6,1,1,0,0,0,0,0.06,0.06
273,274,Zaneta Wyne,MF,Klepp,28.0,22,22,1940,21.6,2,2,0,0,2,0,0.09,0.09
274,275,Marthine Østenstad,DF,Klepp,17.0,21,16,1438,16.0,1,1,0,0,1,0,0.06,0.06
275,276,Emilie Østerås,MF,Vålerenga,16.0,3,0,34,0.4,0,0,0,0,0,0,0.00,0.00
276,277,Anna Østrem,FW,Avaldsnes,17.0,3,0,55,0.6,0,0,0,0,0,0,0.00,0.00

    Rk           Squad  MP   W  D   L  GF  GA  GD  Pts  Attendance
0    1     LSK Kvinner  22  15  5   2  51  18  33   50         339
1    2       Vålerenga  22  14  4   4  41  24  17   46         489
2    3           Klepp  22  14  2   6  48  19  29   44         260
3    4       Sandviken  22  12  4   6  43  32  11   40         465
4    5       Avaldsnes  22   9  7   6  40  33   7   34         172
5    6             Røa  22   7  8   7  40  35   5   29         305
6    7  Trondheims-Ørn  22   8  5   9  26  22   4   29         264
7    8         Kolbotn  22   7  6   9  35  39  -4   27         167
8    9    Arna-Bjørnar  22   6  5  11  26  41 -15   23         295
9   10             Lyn  22   4  8  10  23  37 -14   20         191
10  11          Stabæk  22   3  4  15  16  43 -27   13         180
11  12            Fart  22   2  4  16  14  60 -46   10         236

,Round,Wk,Home,Score,Away,Attendance
0,Regular Season,1.0,LSK Kvinner,4–3,Kolbotn,260.0
1,Regular Season,1.0,Sandviken,0–2,Røa,442.0
2,Regular Season,1.0,Klepp,1–0,Avaldsnes,340.0
3,Regular Season,1.0,Lyn,0–0,Fart,298.0
4,Regular Season,1.0,Trondheims-Ørn,0–0,Arna-Bjørnar,205.0
...,...,...,...,...,...,...
155,Regular Season,22.0,Arna-Bjørnar,0–2,Vålerenga,185.0
156,Regular Season,22.0,Fart,1–6,Klepp,93.0
157,NaN,NaN,NaN,NaN,NaN,NaN
158,Norwegian 1/2 Relegation/Promotion Playoff (W),NaN,IF Fløya,0–5,Lyn,350.0
159,Norwegian 1/2 Relegation/Promotion Playoff (W),NaN,Lyn,2–1,IF Fløya,157.0

In [75]:
#TODO
#lage en Dataframe med lagene og deres spilleres statistikk
#Lag: Trondheims-Ørn - LSK Kvinner - Røa - Arna Bjørnar - Avaldsnes - Lyn - Sandviken - Vålerenga - Klepp - Kolbotn
#Kolonner: Lag, spillere på lag

#Merger alle års tabell og team_stats
df_table_stats_2017 = df_table_2017.merge(df_team_stats_2017)
df_table_stats_2018 = df_table_2018.merge(df_team_stats_2018)
df_table_stats_2019 = df_table_2019.merge(df_team_stats_2019)


df_table_stats_2019

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,Min,90s,Gls,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,G-PK.1
0,1,LSK Kvinner,22,15,5,2,51,18,33,50,...,1980,22.0,50,44,6,7,6,0,2.27,2.00
1,2,Vålerenga,22,14,4,4,41,24,17,46,...,1980,22.0,41,40,1,1,19,1,1.86,1.82
2,3,Klepp,22,14,2,6,48,19,29,44,...,1980,22.0,48,47,1,1,13,0,2.18,2.14
3,4,Sandviken,22,12,4,6,43,32,11,40,...,1980,22.0,43,40,3,3,10,0,1.95,1.82
4,5,Avaldsnes,22,9,7,6,40,33,7,34,...,1980,22.0,40,36,4,4,21,2,1.82,1.64
5,6,Røa,22,7,8,7,40,35,5,29,...,1980,22.0,39,35,4,4,27,1,1.77,1.59
6,7,Trondheims-Ørn,22,8,5,9,26,22,4,29,...,1980,22.0,26,24,2,2,16,1,1.18,1.09
7,8,Kolbotn,22,7,6,9,35,39,-4,27,...,1980,22.0,35,32,3,3,10,1,1.59,1.45
8,9,Arna-Bjørnar,22,6,5,11,26,41,-15,23,...,1980,22.0,26,26,0,0,14,1,1.18,1.18
9,10,Lyn,22,4,8,10,23,37,-14,20,...,1980,22.0,23,22,1,1,20,0,1.05,1.00
10,11,Stabæk,22,3,4,15,16,43,-27,13,...,1980,22.0,16,15,1,1,12,0,0.73,0.68
11,12,Fart,22,2,4,16,14,60,-46,10,...,1980,22.0,14,13,1,1,15,0,0.64,0.59

In [86]:
#Sort players by team, games and minutes played (where possible)
df_player_stats_2017.sort_values(by=["Squad", "MP", "Min"],axis=0,ascending=False,inplace=True)
df_player_stats_2018.sort_values(by=["Squad", "MP", "Min"],axis=0,ascending=False,inplace=True)
df_player_stats_2019.sort_values(by=["Squad", "MP", "Min"],axis=0,ascending=False,inplace=True)
df_player_stats_2020.sort_values(by="Squad",axis=0,ascending=True,inplace=False)
df_player_stats_2017

#Sletter alle spillere med færre enn 5 kamper <-- hvorfor?
under_5_kamper_17 = df_player_stats_2017[df_player_stats_2017["MP"] <= 5].index
df_player_stats_2017.drop(under_5_kamper_17,inplace=True)

under_5_kamper_18 = df_player_stats_2018[df_player_stats_2018["MP"] <= 5].index
df_player_stats_2018.drop(under_5_kamper_18,inplace=True)

under_5_kamper_19 = df_player_stats_2019[df_player_stats_2019["MP"] <= 5].index
df_player_stats_2019.drop(under_5_kamper_19,inplace=True)


#display(df_player_stats_2017)

In [88]:
#Lager Home Score og Away Score i games

df_games_2017[["Home score","Away score"]] = df_games_2017.Score.str.split("–", expand=True)
df_games_2017.drop("Score",axis=1)
df_games_2018[["Home score","Away score"]] = df_games_2018.Score.str.split("–", expand=True)
df_games_2018.drop("Score",axis=1)
df_games_2019[["Home score","Away score"]] = df_games_2019.Score.str.split("–", expand=True)
df_games_2019.drop("Score",axis=1)

#Fjerner rader med NaN og Playoff (alle rader der Wk = NaN)
df_games_2017.dropna(subset=["Wk"],inplace=True)
df_games_2018.dropna(subset=["Wk"],inplace=True)
df_games_2019.dropna(subset=["Wk"],inplace=True)


#Legger til Home Score og Away score med tomme kolonner i games_2020
#For hver match, legg inn statistikk til hvert enkelt lag i raden til kampen 
#Mulig statistikk
#gj snitt mål, antall poeng, rank, antall uavgjort, 
#sesong, dato,

In [99]:
#Legg inn kolonner i games som viser statistikk fra forrige kamp mellom lag,
#gj snitt, varians osv, 
df_table_stats_2017

#Gj snitt mål for og mot
df_table_stats_2017["Av_gf"] = (df_table_stats_2017["GF"]/df_table_stats_2017["MP"]).round(1)
df_table_stats_2017["Av_ga"] = (df_table_stats_2017["GA"]/df_table_stats_2017["MP"]).round(1)
df_table_stats_2018["Av_gf"] = (df_table_stats_2018["GF"]/df_table_stats_2018["MP"]).round(1)
df_table_stats_2018["Av_ga"] = (df_table_stats_2018["GA"]/df_table_stats_2018["MP"]).round(1)
df_table_stats_2019["Av_gf"] = (df_table_stats_2019["GF"]/df_table_stats_2019["MP"]).round(1)
df_table_stats_2019["Av_ga"] = (df_table_stats_2019["GA"]/df_table_stats_2019["MP"]).round(1)

df_table_stats_2019

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,Gls,G-PK,PK,PKatt,CrdY,CrdR,Gls.1,G-PK.1,Av_gf,Av_ga
0,1,LSK Kvinner,22,15,5,2,51,18,33,50,...,50,44,6,7,6,0,2.27,2.00,2.3,0.8
1,2,Vålerenga,22,14,4,4,41,24,17,46,...,41,40,1,1,19,1,1.86,1.82,1.9,1.1
2,3,Klepp,22,14,2,6,48,19,29,44,...,48,47,1,1,13,0,2.18,2.14,2.2,0.9
3,4,Sandviken,22,12,4,6,43,32,11,40,...,43,40,3,3,10,0,1.95,1.82,2.0,1.5
4,5,Avaldsnes,22,9,7,6,40,33,7,34,...,40,36,4,4,21,2,1.82,1.64,1.8,1.5
5,6,Røa,22,7,8,7,40,35,5,29,...,39,35,4,4,27,1,1.77,1.59,1.8,1.6
6,7,Trondheims-Ørn,22,8,5,9,26,22,4,29,...,26,24,2,2,16,1,1.18,1.09,1.2,1.0
7,8,Kolbotn,22,7,6,9,35,39,-4,27,...,35,32,3,3,10,1,1.59,1.45,1.6,1.8
8,9,Arna-Bjørnar,22,6,5,11,26,41,-15,23,...,26,26,0,0,14,1,1.18,1.18,1.2,1.9
9,10,Lyn,22,4,8,10,23,37,-14,20,...,23,22,1,1,20,0,1.05,1.00,1.0,1.7
10,11,Stabæk,22,3,4,15,16,43,-27,13,...,16,15,1,1,12,0,0.73,0.68,0.7,2.0
11,12,Fart,22,2,4,16,14,60,-46,10,...,14,13,1,1,15,0,0.64,0.59,0.6,2.7

In [80]:
#Lager kolonner til Home score og Away score til predikering i senere del av prosjekt
df_games_2020.dropna(subset=["Home"],inplace=True) #Fjerner tomme rader(alle rader som har NaN i home er tomme)
df_games_2020["Home score"] = np.nan
df_games_2020["Away score"] = np.nan
df_games_2020["Score"] = np.nan #Mulig fjerne?

df_games_2020

,Wk,Time,Home,Away,Venue,Home score,Away score,Score
1,1.0,19:45,Trondheims-Ørn,LSK Kvinner,Ørn Arena,NaN,NaN,NaN
2,1.0,11:30,Røa,Arna-Bjørnar,Røabanen,NaN,NaN,NaN
3,1.0,13:00,Avaldsnes,Lyn,Avaldsnes Idrettssenter,NaN,NaN,NaN
4,1.0,14:00,Sandviken,Vålerenga,Stemmemyren kunstgressbane,NaN,NaN,NaN
5,1.0,15:00,Klepp,Kolbotn,Klepp Stadion,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
107,NaN,19:00,Medkila,Kolbotn,Harstad Stadion,NaN,NaN,NaN
108,18.0,13:00,Klepp,Trondheims-Ørn,Klepp Stadion,NaN,NaN,NaN
109,18.0,13:00,Sandviken,Avaldsnes,Stemmemyren kunstgressbane,NaN,NaN,NaN
110,18.0,13:00,LSK Kvinner,Lyn,LSK-hallen,NaN,NaN,NaN
111,18.0,13:00,Vålerenga,Arna-Bjørnar,Vålerenga kultur- og idrettspark kunstgr...,NaN,NaN,NaN